@model BlogMVCApp.Areas.Admin.Data.LoginModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
    .field-validation-error{
        color: #ff0000;
    }
</style>

<h2 class="p-2">Login Page</h2>
<div class="col-lg-6 d-flex py-5">
    @using (Html.BeginForm("Login", "Account", FormMethod.Post, htmlAttributes: new { @class = "bg - light p - 5 contact - form " }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.DisplayNameFor(x => x.Email)
            @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Email)
        </div>
        <div class="form-group">
            @Html.DisplayNameFor(x => x.Password)
            @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Password)
        </div>
        <div class="form-group">
            <input type="submit" value="Login" class="btn btn-primary py-3 px-5">
        </div>
        <section>
            @Html.ValidationSummary()
        </section>
        
    }

</div>


@section ValidationSection
   {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>\
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
}

