@model BlogMVCApp.Models.ArticleTravelModel

@{ 
    var article = Model;
}

<div class="col-md-12">
    <div class="blog-entry-2 ftco-animate">
        <a href="#" class="img" style="background-image: url(images/@article.ImagePath);"></a>
        <div class="text pt-4">
            <h3 class="mb-4"><a href="#">@article.Title</a></h3>
            <p class="mb-4">@article.ShortDescription</p>
            <div class="author mb-4 d-flex align-items-center">
                <a href="#" class="img" style="background-image: url(images/@article.AuthorPicture);"></a>
                <div class="ml-3 info">
                    <span>Written by</span>
                    <h3><a href="#">@article.AuthorName</a>, <span>@article.WrittenTime</span></h3>
                </div>
            </div>
            <div class="meta-wrap d-md-flex align-items-center">
                <div class="half order-md-last text-md-right">
                    <p class="meta">
                        <span><i class="icon-heart"></i>3</span>
                        <span><i class="icon-eye"></i>@article.ViewCount</span>
                        <span><i class="icon-comment"></i>@article.CommentsCount</span>
                    </p>
                </div>
                <div class="half">
                    <p>@Html.ActionLink("Continue Reading", "Details", routeValues: new { id = article.Id }, htmlAttributes: new { @class = "article-title" })</p>
                    
                </div>
            </div>
        </div>
    </div>
</div>
