@model BlogMVCApp.Models.ArticleIndexModel
    @{ 
        var article = Model;
    }

    <div class="col-md-12">
        <div class="blog-entry ftco-animate d-md-flex">
            <a class="img img-2" style="background-image: url(/Content/images/@article.ImagePath);"></a>
            <div class="text text-2 pl-md-4">
                <h3 class="mb-2">@Html.ActionLink(article.Title, "Details", routeValues: new { id = article.Id }, htmlAttributes: new { @class = "article-title" })</h3>
                <div class="meta-wrap">
                    <p class="meta">
                        <span><i class="icon-calendar mr-2"></i>@article.PublishTime</span>

                        @if (article.Catigories.Count() > 0)
                        {
                            foreach (var category in article.Catigories)
                            {
                                <span><a href="single.html"><i class="icon-folder-o mr-2"></i>@category.Name</a></span>
                            }
                        }

                        <span><i class="icon-comment2 mr-2"></i>@article.CommentsCount Comment</span>
                    </p>
                </div>
                <p class="mb-4">@article.ShortDescription</p>
                <p>@Html.ActionLink("Read More", "Details", routeValues: new { id = article.Id }, htmlAttributes: new { @class = "article-title" })</p>
                
            </div>
        </div>
    </div>